section{
    width: 100%;
    padding: 0rem 1.5rem;
}
.box-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.cols-2{
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
}

.s-lado-esquerdo{
   width: 40rem;
}
.s-lado-esquerdo p:first-child{
    font-weight: 400;
    color: #242323e3;
}
.s-lado-esquerdo p:nth-child(2){
    font-weight: bold;
    color: #121212;
}
.s-lado-esquerdo p:last-child{
    font-weight: 300;
    color: #4140409f;
}
.s-lado-esquerdo p{
    font-size: 1.8rem;
}

.s-lado-direito img{
    width: 40rem;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

/* SECTION MELHORES CASA*/

.cols{
    display: grid;
    justify-content: space-evenly;
    padding: 3rem 1rem;
}
.cols-3{
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    flex-basis: 50%;
}
.cols-3 img{
    width: 20rem;
    border-radius: 15px;
}

.cols>*{
    cursor: pointer;
    transition: all 0.2s;

}
.cols>*:hover{
    transform: translateY(-5px);
}

.titulo-melhor-casa{
    display: flex;
    align-items: center;
}
.titulo-melhor-casa h3{
    font-size: 2rem;
    font-weight: 600;
    color: #242323e3;
}
@media (max-width:800px){
    .cols-3{
        grid-template-columns: repeat(2,1fr);
    }
    .cols-2{
        grid-template-columns: repeat(1,1fr);
    }
}